.header {
  align-items: center;
  display: flex;
  justify-content:space-between;
  height: 8vh;
  width: 98vw;
  border: solid 1px blue;
  margin: 5px auto;
}

.top-page{
  width: 60%;
  margin: 0 auto;
  border: solid 1px blue;
}

.log{
  display: flex;
}

.add-tour{
  border: solid 1px blue;
}

.tour-list{
  display: flex;
  margin: 5px 0px;
}

.del-tour{
  background-color: tomato;
}