.header {
  display: flex;
  border: solid 1px blue;
}

.top-page{
  width: 60%;
  margin: 0 auto;
  border: solid 1px blue;
}

.tour-name{
  width: 60%;
  margin: 0 auto;
  border: solid 1px blue;
}

.log{
  border: solid 1px blue;
}

.add-tour{
  border: solid 1px blue;
}

.del-tour{
  border: solid 1px blue;
}