.tour-name {
  background-color: lightskyblue;
  letter-spacing: 1em;
  width: 60%;
  text-align: center;
}

.tour-name h3{
  margin: 0px;
}

.login,.del-tour {
  margin: 0px 5px;
}

table{
  width: 98%;
  border-collapse: collapse;
}


tr, td{
  border:1px solid black;
  text-align:left;
}

.none{
  border: none;
}

.add-group {
  padding: 1%;
  font-weight: bold;
  text-align: center;
}

.bold{
  font-weight: bold;
}

.category-in{
  background-color: lightgreen;
  text-align: center;
}

.member-name{
  color: navy;
  margin-left: 5%;
}

.member-derete{
  float: right;
  margin: 0 10%;
  background-color: tomato;
}

.table-center{
  text-align: center;
}