.tour-name {
  background-color: lightskyblue;
  letter-spacing: 1em;
  width: 60%;
  text-align: center;
}

.tour-name h3{
  margin: 0px;
}

.login,.del-tour {
  margin: 0px 5px;
}

.bold{
  font-weight: bold;
}

.category-in{
  background-color: lightgreen;
}

.member-name{
  color: navy;
}

.member-derete{
  float: right;
  margin: 0 10%;
  background-color: tomato;
}