<tr>
  <td style="border:1px solid #000000;text-align:left;">
    <div>
      <%= member.group%>班
    </div>
    <div>
      <%= member.nickname%>
    </div>
    <div>
      <%= link_to "班削除", tour_member_path(@tour,member), method: :delete %>
    </div>
  </td>
  <td style="border:1px solid #000000;text-align:left;">
    <p id = "dinner-count">0</p>
    <input type="button" value="夕食" id="dinner">
  </td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">5</td>
</tr>