<tr>
  <td style="border:1px solid #000000;text-align:left;">
    <div>
      <%= member.group%>班
    </div>
    <div>
      <%= member.nickname%>
    </div>
  </td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
  <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
</tr>