<div class='header'>
  <div class='tour-name'>
    ツアー名
  </div>

  <div class='login'>
    管理者ログイン
  </div>
  <div class='add-del'>
    <div class='add-tour'>
      <%= link_to "ツアー追加", new_tour_path%>
    </div>

    <div class='del-tour'>
      ツアー削除
    </div>
  </div>
</div>

<div>
  <div>
    <% @tours.each do |tour| %>
    <div class="tour-list">
      <%= link_to tour.place, tour_path(tour) %>
    </div>
    <div class='del-tour'>
      <%= link_to "ツアー削除", tour_path(tour.id), method: :delete%>
    </div>
    <% end %>
  </div>
</div>