<div class='header'>
  <div class='tour-name'>
    <%= @tour.place %>
  </div>

  <div class='login'>
    管理者ログイン
  </div>
  <div class='add-del'>
    <div class='add-tour'>
      <%= link_to "ツアー追加", new_tour_path%>
    </div>

    <div class='del-tour'>
      <%= link_to "ツアー削除", tour_path(@tour.id), method: :delete%>
    </div>
  </div>
</div>

<div style="margin:0px;padding:0px;" align="center">
  <table width="98%" style="border-collapse: collapse;border:1px solid #000000;text-align:left;">
    <tbody>
      <tr>
        <th style="border:1px solid #000000;text-align:center;">&nbsp;</th>
        <th style="border:1px solid #000000;text-align:center;">食堂移動済み</th>
        <th style="border:1px solid #000000;text-align:center;">夕食待機</th>
        <th style="border:1px solid #000000;text-align:center;">夕食準備</th>
        <th style="border:1px solid #000000;text-align:center;">入浴中</th>
        <th style="border:1px solid #000000;text-align:center;">お風呂待機</th>
        <th style="border:1px solid #000000;text-align:center;">エスケープ</th>
      </tr>
      <tr>
        <td style="border:1px solid #000000;text-align:left;">１班<br>１くま１</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
      </tr>
      <tr>
        <td style="border:1px solid #000000;text-align:left;">2班<br>２くま2</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
        <td style="border:1px solid #000000;text-align:left;">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<div class='back'>
  戻る
</div>

<div class='reset'>
  リセット
</div>