<%= form_with(model: [@tour,@member], class: "form-w", local: true) do |f| %>
<div>
  <%= f.text_field :group, placeholder: "班" %>
</div>
<div>
  <%= f.text_field :nickname, placeholder: "アドベンチャーネーム" %>
</div>
<div>
  <%= f.submit "決定" %>
</div>
<% end %>